<div class="card">
            <img src="<%= entry.url %>">
            <div class="card-metadata">
                <span class="card-name">
                    <%= entry.name || "unfortunately nameless" %>
                </span>
                <div class="button-box">
                    <button onclick='addToLiked("<%- entry.name %>", "<%- entry.url %>")' class="add-to-liked"><i class="fa-solid fa-heart"></i></button>
                    <button onclick='deleteFromCollection("entries", "<%- entry._id %>")' class="delete"><i class="fa-solid fa-trash"></i></button>
                    <button class="download"><i class="fa-solid fa-download"></i></button>
                </div>
            </div>
</div>